body{
  font-family: arial;
  
}

.input-area{ 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  margin: 150px;   
}


.header{
  margin-top: 20px;
  background-color: lightblue;
    height: 65px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;

    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;
    right: 0px;

    margin-left: 50px;
    margin-right: 50px;

    border-radius: 30px;

    border-bottom-width: 5px;
    border-bottom-style:groove;
    border-bottom-color: #76a7a6;
}
.title-page{
  text-align: center;
  background-color:aqua;
}



.wrapper {
  flex: 1;
  --input-focus: #000000;
  --font-color: #000000;
  --bg-color: #ffffff;
  --bg-color-alt: #9a6d6d;

}

.ifront-image{
    width: 50%;
    height: 50%;
}


/* switch card */
.switch { 
  
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 50px;
  height: 20px;
}

.card-side::before {
  
  position: absolute;
  content: 'Log in';
  left: -70px;
  top: 0;
  width: 100px;
  text-decoration:underline;
  font-weight: 600;
}

.card-side::after {
  position: absolute;
  content: 'Sign up';
  left: 70px;
  top: 0;
  width: 100px;
  text-decoration: none;
  font-weight: 600;
}

.toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  /*box-sizing: border-box; */
  border-radius: 5px;
  border: 2px solid;
  box-shadow: 4px 4px;
  position: absolute;
  cursor: pointer;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: lightblue;
  transition: 0.3s;
}


.slider:before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  height: 17px;
  width: 25px;
  border: 2px solid var(--main-color);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  
  background-color: var(--bg-color);
  background-color: lightpink;
  
  
  transition: 0.3s;
}

.toggle:checked + .slider {
  background-color:  lightpink;
}

.toggle:checked + .slider:before {
  transform: translateX(30px);
  transform: translateZ(40px);
  background-color: lightblue;
}

.toggle:checked ~ .card-side:before {
  text-decoration: none;
}

.toggle:checked ~ .card-side:after {
  text-decoration: underline;
}

/* card */ 

.flip-card__inner {
  width: 300px;
  height: 150px;
  margin-left: 20px;
  background-color: lightblue;

    /* width: 100%;
    height: 100%; */
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  
}


.toggle:checked ~ .flip-card__inner {
  transform: rotateY(180deg);
}

.toggle:checked ~ .flip-card__front {
  box-shadow: none;
}

.flip-card__front, .flip-card__back {
  padding: 20px;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: rgb(229, 226, 226);
  gap: 20px;
  border-radius: 5px;
  border-width: 40px;
  border: 2px solid var(--main-color);
 
}

.flip-card__back {
  transform: rotateY(180deg);
}

.flip-card__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.title {
  margin: 20px 0 20px 0;
  font-size: 25px;
  font-weight: 900;
  text-align: center;
  color: var(--main-color);
}


.g-signin2 {
  color: white;
  border-radius: 20px;
}

.flip-card__input {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
 
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
}

.flip-card__input::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.flip-card__input:focus {
  border: 2px solid var(--input-focus);
}

.flip-card__btn:active, .button-confirm:active {
  
  transform: translate(3px, 3px);
}

.flip-card__btn {
  margin: 20px 0 20px 0;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
} 

