.form-page{
    
    margin: 0;
    margin-top: 100px;
    padding: 40px;
    border-radius: 40px;
    background-color: #bbdcea;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    box-shadow: 10px 5px 5px rgb(204, 202, 202);
}

select{
    border-radius: 4px;
    border:none;
    box-shadow: 2px 2px 2px;
}



input{
    border-radius: 4px;
    border-color: rgb(173, 216, 230, 0.853);
    
    border: none;
    padding: 10px;
}

button{
    padding: 10px;
    background-color: white;
    
    border: none;
    border-radius: 4px;
    width: fit-content;
    text-align: center;
    margin-top: 30px;
    padding-left: 100px;
    padding-right: 100px;

}


select{
    padding: 10px;
}


.form{
    background-color: #d4d2cc;
    border-radius: 20px;
    margin-right: 20px;
    position: relative;
    padding: 10px;
}

.checkbox-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.checkbox-contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.Name-Quantity{
    display: grid;
    grid-template-columns: auto auto auto; 
    grid-gap: 10px;
    margin-left: 13px;
    margin-right: 10px;
    
}

.form-labels{
    position: relative;
    padding-top: 10px;
    margin-left: 2px;
}

.Quantity{
    border-radius: 4px;
    padding: 9px;
}

.clock-input{
    display: flex;
    grid-gap: 20px;
    align-items: center;
    margin-left: 10px;
    margin-right: 30px;
    position: relative;
}

#timeInput{
    /*Maybe add later*/
    width: 50px;
}

#addDrug{
    margin: 30px;
    
}

.Duration-container{
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.Duration-input{
    margin-top:5px;
    width: 50%;
}

.Submit{
    margin: 20px;
    display: flex;
    width: fit-content;
    height: fit-content;
    justify-content: center;

}
.Sumbmit:hover{
    opacity: 2;
}
.Submit-button{
    width: 30px;
    margin: 30px;
}

.Pillmascot{
    padding-left: 20px;
    width: 250px;
    height: 300px;
}

.Add-Another-button{
   height: fit-content;
   width: fit-content;
}

.Add-Another-button:active, .Submit-button:active {
    transform: translate(3px, 3px);
}